name: 'Check code format'
on:
  pull_request:
defaults:
  run:
    working-directory: ./server
jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4         # checkout the repo
      - name: Install dependencies        # install dependencies
        run: yarn install --frozen-lockfile
      - run: yarn check-format
